<div data-ng-controller="CustomersController" data-ng-init="search()">
	<div class="content-outer">
		<div class="row page">
			<div class="twelve columns">
				<aside id="sidebar">
					<div class="widget widget_search">
						<form>
							<input class="text-search" type="text" data-ng-model="searchtext"
								onfocus="if (this.value == 'Search customer here...') { this.value = ''; }"
								onblur="if(this.value == '') { this.value = 'Search customer here...'; }"
								value="Search customer here..."> 
							<input type="submit"
								class="submit-search" value="" data-ng-click="search()">
						</form>
					</div>
				</aside>
			</div>
		</div>

		<div id="page-content">
			<div class="row">
				<div class="twelve columns">
					<div data-ng-repeat="c in customers">
						<div class="one columns">
							<a href="#!/customer/{{c.Id}}">{{c.Id}}</a>
						</div>
						<div class="two columns">
							<a href="#!/customer/{{c.Id}}"><img class="img-responsive"
								data-ng-src="{{c.CoverPhoto}}"></img></a>
						</div>
						<div class="two columns">
							<a href="#!/customer/{{c.Id}}">{{c.Name}}</a>
						</div>
						<div class="two columns">
							<span>{{c.Email}}</span>
						</div>
						<div class="two columns">
							<span>{{c.Phone}}</span>
						</div>
						<div class="three columns">
							<p>{{c.Desc}}</p>
						</div>
						<hr>
					</div>
					<nav class="col full pagination">
						<ul>
							<li><button data-ng-click="setpage(1)"
									class="page-numbers prev">First</button></li>
							<li data-ng-show="currPage - 1 >= 1"><button
									data-ng-click="setpage(currPage-1)" class="page-numbers prev">Prev</button></li>
							<li data-ng-show="currPage - 2 >= 1"><button
									data-ng-click="setpage(currPage-2)" class="page-numbers">{{currPage-2}}</button></li>
							<li data-ng-show="currPage - 1 >= 1"><button
									data-ng-click="setpage(currPage-1)" class="page-numbers">{{currPage-1}}</button></li>
							<li><span class="page-numbers current">{{currPage}}</span></li>
							<li data-ng-hide="totalPageNumber - currPage < 1"><button
									data-ng-click="setpage(currPage+1)" class="page-numbers">{{currPage+1}}</button></li>
							<li data-ng-hide="totalPageNumber - currPage < 2"><button
									data-ng-click="setpage(currPage+2)" class="page-numbers">{{currPage+2}}</button></li>
							<li data-ng-hide="totalPageNumber - currPage < 1"><button
									data-ng-click="setpage(currPage+1)" class="page-numbers next">Next</button></li>
							<li><button data-ng-click="setpage(totalPageNumber)"
									class="page-numbers next">Last</button></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>


</div>







