<div  data-ng-controller="UsersCtrl">

<div id="page-title">
    <div class="row">
        <div class="ten columns centered text-center">
            <h1>
                Change Password<span>.</span>
            </h1>
        </div>
    </div>
</div>

<div class="content-outer">
    <div id="page-content" class="row page">
        <div class="twelve columns">
            <form name="form" class="form-horizontal css-form" novalidate>
                <fieldset>
                    <div>
                        <label for="inputPassword">New Password</label> <input
                            type="password" size="30" id="inputPassword" name="inputPassword"
                            ng-model="data.password" placeholder="Password" required />
                    </div>

                    <div>
                        <label for="inputPasswordAgain">Repeat Password</label> <input
                            type="password" size="30" id="inputPasswordAgain"
                            name="inputPasswordAgain" ng-model="data.passwordagain"
                            placeholder="Password" required /> <span
                            ng-show="data.password !== data.passwordagain">Passwords
                            not match</span>
                    </div>

                    <button type="submit" class="btn btn-info"
                        ng-disabled="form.$invalid || (data.password !== data.passwordagain)"
                        data-ng-click="updatepassword()">Save</button>
                </fieldset>
            </form>
        </div>
</div>
</div>
</div>
